.btn {
	// @include font-body;
	// @include text-sm;
	@include font-accent;
	font-size: rem( 14 );
	border: 2px solid $color-link;
	border-radius: 0;
	padding: $gutter-width;
	background: transparent;
	color: $color-black;
	margin-bottom: $margin-vertical-sm / 2;
	margin-right: $gutter-width / 2;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	width: auto;
	box-shadow: none;
	text-shadow: none;
	height: auto;
	transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;

	&:link,
	&:visited {
		color: $color-white;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-link;
		text-decoration: none;
		outline: none;
		background: $color-link;
		border-color: $color-white;
		color: $color-white;
		transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	&[disabled] {
		cursor: default;
		opacity: 0.3;

		&:hover,
		&:focus {
			background: transparent;
			color: $color-black;
			border-color: $color-link;
		}
	}

	&--block {
		width: 100%;
		margin-bottom: $margin-vertical-sm;
		margin-right: 0;
	}
}

.btn--secondary {
	border-color: $color-accent;

	&:link,
	&:visited {
		color: $color-accent;
	}

	&:hover,
	&:focus {
		background: $color-accent;
	}

	&[disabled] {
		&:hover,
		&:focus {
			background: transparent;
			border-color: $color-accent;
			color: $color-black;
		}
	}

}

.btn--tertiary {
	color: $color-text-default;
	border-color: $color-text-default;
	background: none;

	&:link,
	&:visited {
		color: $color-text-default;
	}

	&:hover,
	&:focus {
		color: $color-white;
		background: $color-text-default;
		border-color: $color-white;
	}

	&[disabled] {
		&:hover,
		&:focus {
			background: transparent;
			border-color: $color-text-default;
			color: $color-text-default;
		}
	}
}

.btn--inverted {
	color: $color-white;
	border-color: $color-white;
	background: none;

	&:link,
	&:visited {
		color: $color-white;
	}

	&:hover,
	&:focus {
		color: $color-link;
		background: $color-white;
		border-color: $color-white;
	}
}

.btn--small {
	font-size: rem( 12 );
	border-width: 1px;
	padding: #{ $gutter-width / 2 };
}

.btn--loading {

	&:after {
		display: none;
	}

	.loading--active {
		margin-left: $gutter-width / 2;
		margin-bottom: -1px;
	}

	&:hover .loading--active,
	&:focus .loading--active {
		@extend .loading--white;
	}

}
