<h3 id="style-guide-brand-colors" class="style-guide-title">Color swatches</h3>

<div class="swatches">
	<div class="swatch">
		<div class="swatch__background Background-Primary">
		</div>
		<p class="swatch__description">Primary (Green) <code>#66c62e</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-Accent">
		</div>
		<p class="swatch__description">Accent (Red) <code>#ff5e43</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-Blue">
		</div>
		<p class="swatch__description">Accent (Blue) <code>#1ea4e0</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-Gold">
		</div>
		<p class="swatch__description">Accent (Gold) <code>#ffbc14</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-DarkGray">
		</div>
		<p class="swatch__description">Dark Gray <code>#545654</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-LightGray">
		</div>
		<p class="swatch__description">Light Gray <code>#c0c4c0</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-XLightGray">
		</div>
		<p class="swatch__description">X-Light Gray <code>#eef2ee</code></p>
	</div>

	<div class="swatch">
		<div class="swatch__background Background-MediumGray">
		</div>
		<p class="swatch__description">Medium gray <code>#999c99</code></p>
	</div>

</div>
