<h3 id="style-guide-brand-logos" class="style-guide-title">Chance Digital Logos</h3>

<h4>Primary Logo</h4>

<div class="pattern-library-logos">

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo">Chance Digital</h1>
	</div>

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo cd-logo--white">Chance Digital</h1>
	</div>

</div>

<h4>Alternate Logo</h4>

<div class="pattern-library-logos">

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo cd-logo--alt">Chance Digital</h1>
	</div>

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo cd-logo--alt cd-logo--white">Chance Digital</h1>
	</div>

</div>

<h4>Small Logo</h4>

<div class="pattern-library-logos">

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo cd-logo--small">Chance Digital</h1>
	</div>

	<div class="pattern-library-logos__container">
		<h1 class="cd-logo cd-logo--small cd-logo--white">Chance Digital</h1>
	</div>

</div>
