.Background-Primary {
	background-color: $color-primary;
}

.Background-Accent {
	background-color: $color-accent;
}

.Background-Green {
	background-color: $cd-green;
}

.Background-Red {
	background-color: $cd-red;
}

.Background-Blue {
	background-color: $cd-blue;
}

.Background-Gold {
	background-color: $cd-gold;
}

.Background-XLightGray {
	background-color: $cd-xlight-gray;
}

.Background-LightGray {
	background-color: $cd-light-gray;
}

.Background-DarkGray {
	background-color: $cd-dark-gray;
}

.Background-MediumGray {
	background-color: $cd-medium-gray;
}
